@using MVCPortfolioFree.DataAccess.Entities
@model List<Experience>
<div class="row about-content about-content--timeline">

	<div class="col-full text-center">
		<h3>Deneyimlerim.</h3>
	</div>

	@foreach (var experience in Model)
	{
		<div class="col-six tab-full">
			<div class="timeline">

				<div class="timeline__block">
					<div class="timeline__bullet"></div>
					<div class="timeline__header">
						<p class="timeline__timeframe">@experience.StartDate.ToShortDateString() - @((@experience.EndDate != null) ? Convert.ToDateTime(experience.EndDate).ToShortDateString() : "Devam ediyor...")</p>
						<h3>@experience.HeaderText</h3>
						<h5>@experience.Title</h5>
					</div>
					<div class="timeline__desc">
						<p>@experience.Description</p>
					</div>
				</div> 

			</div> <!-- end timeline -->
		</div> <!-- end left -->
	}

</div>

/*

